*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Roboto";
  color: #fff;
}

body{
  width: 100%;
  height: 100%;
  background-color: rgb(0, 14, 33);
}

button{
  font-size: 16px;
  width: 120px;
  padding: 10px;
  border: 2px solid #007edf;
  color: #007edf;
  outline: none;
  background-color: transparent;
  border-radius: 12px;
  cursor: pointer;
}

button:hover{
  border: 2px solid #0d8ef0;
  color: #0d8ef0; 
}

.pokemon-list{
  padding: 40px;
}